@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #000000;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="number"] {
  appearance: none;
}

input[type="number"]:focus,
input[type="number"]:hover {
  appearance: none;
}

.Inter {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 600;
}

/* Global styles for Raleway font */
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
